html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.Todo {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 400px;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 3px;
}

.Todo__title {
    margin-left: 1em;
}

.Todo__deleteButton {
    background-color: red;
    margin-left: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0 2em;
}

main {
    padding: 0 2em;
}
